# Gatsby
.cache/
public/
node_modules/
.env.*

# Build files
dist/
build/

# Build archives
leo-website.zip
*.zip

# Large files
src/assets/images/partners/WebCatalog-61.1.0-universal.dmg

# Dependency directories
jspm_packages/
bower_components/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# Mac files
.DS_Store

# Yarn
yarn-error.log
.pnp/
.pnp.js

# Yarn Integrity file
.yarn-integrity
